*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* === MAIN CONTAINER === */
.main{
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 4px;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    height: 550px;
    margin: 70px 0 0 50px;
    width: 95%;
}

/* === DESIGNATION === */
.main__select{
    position: relative;
}
.main__select select{
    border: 1px solid rgb(200, 200, 200);
    height: 35px;
    width: 80%;
}
.main__select select:focus{
    outline: none;
}

/* === FORM === */
.main__editData{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px 2px rgb(222, 222, 222);
    border-radius: 3px;
    height: 450px;
    margin-top: 10px;
    width: 45%;
}
.main__editData__form{
    display: flex;
    flex-direction: column;
}
.main__editData__form>input,select{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    height: 35px;
    padding-left: 10px;
    margin: 10px 0 0 50px;
    width: 80%;
}
.main__editData__form>label{
    margin: 40px 0 0 50px;  
}
.main__editData__form>input:focus{
    outline: none;
}

/* === BUTTONS === */
.main__buttons{
    align-items: center;    
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    height: 80px;
    margin: 30px 0 0 80px;
    width: 370px;
}
.main__buttons>button{
    border: 1px solid #fdbfa6;
    border-radius: 4px;
    background-color: inherit;
    color: #fc7a45;
    height: 50px;
    width: 150px;
}
.main__buttons>button:hover{
    background-color: #fc7a45;
    color: #fff;
}

